@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  background-color: #2c2c2c; /* Black */
  box-shadow: 0px 4.42184px 107.23px rgba(0, 0, 0, 0.51); /* Black shadow */
  transition: background-color 0.5s;
}

.btn:hover {
  background-color: #181818; /* Dark Gray */
}

.gradient,
.active {
  background-color: #1b1a1a; /* Black */
}

.active {
  color: #fff; /* White text */
  padding: 1rem;
  border-radius: 100%;
}

@layer base {
  body {
    @apply font-secondary text-lg leading-8 text-white; /* White text */
    background-color: #181818; /* Dark Gray background */
  }
  .h2 {
    @apply font-primary text-[32px] mb-6 tracking-[10%] uppercase;
  }
  .h3 {
    @apply font-primary font-semibold text-[26px] mb-6 leading-[46px];
  }
  .btn {
    @apply rounded-full font-primary text-white font-medium; /* White text */
  }
  .btn-sm {
    @apply h-[48px] px-6 text-sm;
  }
  .btn-lg {
    @apply h-[56px] px-10 text-base;
  }
  .btn-link {
    @apply text-base;
  }
  .text-gradient {
    @apply bg-gradient-to-r text-transparent bg-clip-text from-[#42A6E3] to-[#FF56F6] font-bold font-primary hover:from-[#FF56F6] hover:to-[#42A6E3];
  }
  .section {
    @apply py-8 lg:py-24 lg:h-screen flex items-center;
  }
}
